body{
    background-color: rgb(200,220,2);
}
.form{
    max-width: 400px;
    padding: 16px;
    background: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
}
h1{
    background-color: #037737;
    margin-bottom: 24px;
    padding: 20px;
    font-weight: 300;
    margin: -16px -16px 16px -16px;
    color: #fff;
    font-size: 25px;
}
.form input[type="text"],
.form input[type="url"]{
    box-sizing: border-box;
    width: 100%;
    background: #f8f8f8;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 5%;
    font-size: 17px;
    color: #555;
    border-radius: 5px;
    text-align: center;
}
.form input[type="text"]:focus,
.form input[type="url"]:focus{
    background-color: #e2e2e2;
    outline: none;
    border: 1px solid rgb(200,220,2);
}
button{
    box-sizing: border-box;
    width: 180px;
    margin: 10px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    background: #0853;
    color: #037737;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background: #0853b6;
    color: #fff;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #037737;
    width: 15px;
}
